{% extends "user_page.html" %}


{% block title %}
Meetings
{% endblock %}





{% block user_content %}

<div class="container py-5">
  <form method="GET">
    <ul>
        {% for meeting in meetings %}
        <p>
            <h2 align="center" class="featurette-heading">
            {% if user.is_superuser %}
                {{ meeting.user.first_name }}
                {{ meeting.user.last_name }}
            {% endif %}
                {{ meeting.date }}
                {{ meeting.time_start }}-{{ meeting.time_end }}
            </h2>
        </p>
        <p class="text-center"><h5 align="center">Нажмите что бы посмотреть заключения.</h5></p>
        <div class="d-grid gap-2">
            <a class="btn btn-primary" type="button" href="/user_page/meetings/{{ meeting.id }}">Открыть</a>
        </div>
        {% endfor %}
    </ul>
  </form>
</div>





{% endblock %}