{% extends "user_page.html" %}


{% block title %}
Your personal information
{% endblock %}





{% block user_content %}

<div class="container py-5">
  <form method="GET">
    <h1 align="center">Личная информация</h1>
       <h2>
           {% if user.first_name %}
           {{ user.first_name }}
           {% endif %}
           {% if user.last_name %}
           {{ user.last_name }}
           {% endif %}
       </h2>
    <p>
      <h3>
        {% if user.email %}
          Email: {{ user.email }}
        {% endif %}
      </h3>
    </p>
    <p>
      <h3>
        Логин: {{ user.username }}
      </h3>
    </p>
  </form>
</div>





{% endblock %}